:root {
  --color-primaty: #757575;
  --color-blue: #2196F3;
  --color-secondary: #212121;
  --back-color: #2F303A;
  --color-link-footer: rgba(255, 255, 255, 0.6);
  --color-adress: #ffffff;
  --color-back-section: #F5F4FA;
  --transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

body {
  font-family: Roboto, sans-serif;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--color-primaty);
}

.link {
  text-decoration: none;
  color: inherit;
}

.list {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

h1,
h2,
h3,
ul,
p {
  padding: 0px;
  margin: 0px;
}

.nav-item .link:hover,
.nav-item .link:focus,
.contacts-item .link:hover,
.contacts-item .link:focus,
.contacts-item-footer .link:hover,
.contacts-item-footer .link:focus {
  color: var(--color-blue);
}

.title {
  margin: 0px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--color-secondary);
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.title-section {
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  color: var(--color-secondary);
}
@media screen and (min-width: 1200px) {
  .title-section {
    margin-bottom: 50px;
  }
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.card {
  display: flex;
  flex-wrap: wrap;
  margin-top: -30px;
  margin-left: -30px;
}

.card-item {
  margin-left: 30px;
  margin-top: 30px;
}

.button {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: var(--color-blue);
  padding: 10px 32px;
  min-width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
  font-family: "Roboto";
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  text-align: center;
  color: #ffffff;
  background-color: var(--color-blue);
  transition: background-color var(--transition);
}
.button:hover, .button:focus {
  background-color: #188CE8;
}

.logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 24px;
  line-height: 1.19;
  color: var(--color-blue);
}
@media screen and (min-width: 1200px) {
  .logo {
    font-size: 26px;
  }
}

.logo-black {
  color: var(--color-secondary);
}

.logo-white {
  color: #ffffff;
}

.modal-fon {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 5;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  overflow-y: scroll;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  background-color: #ffffff;
  max-width: 450px;
  width: 100%;
  max-height: 609px;
  height: 100%;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transform: translate(-50%, -50%);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), transform var(--transition);
  padding: 40px;
}
@media screen and (min-width: 1200px) {
  .modal {
    max-width: 528px;
    max-height: 581px;
  }
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal-fon.is-hidden .modal {
  opacity: 0;
  transform: translate(-50%, -50%) scale(0);
}

.icon-close {
  width: 18px;
  height: 18px;
}

.button-modal {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  cursor: pointer;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  align-items: center;
}
.button-modal:hover, .button-modal:focus {
  fill: #2196F3;
  transition: fill var(--transition);
}

.text-modal {
  text-align: start;
}
@media screen and (max-width: 768px) {
  .text-modal {
    font-size: 12px;
    line-height: 14px;
  }
}

.icon-command {
  width: 20px;
  height: 20px;
  fill: #AFB1B8;
  transition: fill var(--transition);
}

.social-link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color var(--transition);
}
.social-link:hover, .social-link:focus {
  background-color: var(--color-blue);
}
.social-link:hover .icon-command {
  fill: #ffffff;
}
.social-link:focus .icon-command {
  fill: #ffffff;
}

.social-links-item:not(:last-child) {
  margin-right: 10px;
}

.social-links {
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 767px) {
  .comand-conteiner .social-links {
    justify-content: center;
  }
}
@media screen and (min-width: 768px) {
  .curent-pages {
    color: var(--color-blue);
  }
  .curent-pages::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 4px;
    background-color: var(--color-blue);
    border-radius: 2px;
    bottom: -1px;
  }
  .nav-item {
    position: relative;
  }
}
.header {
  position: relative;
  border-bottom: 1px solid #ECECEC;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
}
@media screen and (max-width: 767px) {
  .header {
    padding: 10px 15px;
  }
}

.header-container {
  display: flex;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .nav {
    display: flex;
    align-items: center;
  }
}

@media screen and (min-width: 768px) {
  .header .logo {
    margin-right: 88px;
  }
}
@media screen and (min-width: 1200px) {
  .header .logo {
    margin-right: 93px;
  }
}

@media screen and (min-width: 768px) {
  .nav-list {
    display: flex;
  }
}

@media screen and (max-width: 767px) {
  .nav-link {
    font-weight: 500;
    font-size: 40px;
    line-height: 47px;
    text-align: center;
  }
}

@media screen and (min-width: 768px) {
  .nav-item:not(:last-child) {
    margin-right: 50px;
  }
}

@media screen and (max-width: 767px) {
  .nav-item:not(:last-child) {
    margin-bottom: 32px;
  }
}
.nav-list {
  color: var(--color-secondary);
}

.contacts-list {
  font-weight: 500;
  font-size: 34px;
  line-height: 40px;
}
@media screen and (min-width: 768px) {
  .contacts-list {
    display: flex;
    margin-left: auto;
    flex-direction: column-reverse;
    align-items: baseline;
    font-size: 12px;
    line-height: 14px;
  }
}
@media screen and (min-width: 1200px) {
  .contacts-list {
    flex-direction: row-reverse;
    font-size: inherit;
    line-height: inherit;
  }
}
@media screen and (max-width: 767px) {
  .contacts-list {
    margin-bottom: 64px;
  }
}

.header-wrapper {
  margin-left: auto;
}

@media screen and (max-width: 767px) {
  .mail {
    font-size: 15px;
  }
}

@media screen and (max-width: 1199px) {
  .contacts-item mail {
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 1200px) {
  .contacts-item:not(:last-child) {
    margin-right: 50px;
  }
}

@media screen and (max-width: 767px) {
  .contacts-item:not(:last-child) {
    margin-bottom: 32px;
  }
}

@media screen and (max-width: 767px) {
  .phone {
    color: var(--color-blue);
  }
}

@media screen and (min-width: 1200px) {
  .contacts-item:last-child {
    margin-right: 50px;
  }
}

.nav-link,
.contacts {
  padding-top: 32px;
  padding-bottom: 32px;
  transition: color var(--transition);
}
@media screen and (min-width: 768px) {
  .nav-link,
.contacts {
    display: flex;
    align-items: center;
  }
}
@media screen and (min-width: 1200px) {
  .nav-link,
.contacts {
    font-size: 14px;
  }
}

@media screen and (max-width: 1199px) {
  .contacts {
    padding: 0;
  }
}

.icon-contacts {
  margin-right: 10px;
  fill: currentColor;
}
@media screen and (max-width: 767px) {
  .icon-contacts {
    display: none;
  }
}

.social-links-mobile {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
@media screen and (min-width: 768px) {
  .social-links-mobile {
    display: none;
  }
}

.button-mobile {
  padding: 0px;
  margin: 0px;
  border: none;
  background-color: inherit;
  margin-left: auto;
}
@media screen and (min-width: 768px) {
  .button-mobile {
    display: none;
  }
}

.button-mobile.is-open {
  position: absolute;
  top: 10px;
  right: 15px;
}

.menu-container {
  width: 100%;
  background-color: white;
  transition: transform var(--transition);
}
@media screen and (max-width: 767px) {
  .menu-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transform: translateX(100%);
    position: fixed;
    width: 100%;
    height: 100vh;
    left: 0;
    top: 0;
    padding: 48px 40px;
  }
}
.menu-container.is-open {
  transform: translateX(0);
}
@media screen and (min-width: 768px) {
  .menu-container {
    display: flex;
    align-items: center;
  }
}

.icon-mobile-menu:hover {
  fill: #2196F3;
}

.icon-mobile-close:hover {
  fill: #2196F3;
}

.button-mobile .icon-mobile-close {
  display: none;
}

.button-mobile.is-open .icon-mobile-close {
  display: block;
}

.button-mobile.is-open .icon-mobile-menu {
  display: none;
}

.social-links-mobile-item {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: var(--color-blue);
  padding-right: 10px;
  border-right: 1px solid rgba(33, 33, 33, 0.2);
  letter-spacing: 0.02em;
}
@media screen and (min-width: 768px) {
  .social-links-mobile-item {
    display: none;
  }
}

.banner {
  padding-bottom: 118px;
  padding-top: 118px;
  text-align: center;
  background-repeat: no-repeat;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/banner-mobile.jpg);
  background-size: cover;
}
@media screen and (min-width: 1200px) {
  .banner {
    padding-bottom: 200px;
    padding-top: 200px;
  }
}
@media screen and (min-width: 768px) {
  .banner {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/banner-tablet.jpg);
  }
}
@media screen and (min-width: 1200px) {
  .banner {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/banner.jpg);
  }
}

@media screen and (max-width: 767px) and (min-device-pixel-ratio: 2), screen and (max-width: 767px) and (-webkit-min-device-pixel-ratio: 2), screen and (max-width: 767px) and (min-resolution: 192dpi), screen and (max-width: 767px) and (-webkit-min-device-pixel-ratio: 2) and (max-width: 767px), screen and (max-width: 767px) and (min-resolution: 2dppx) and (max-width: 767px) {
  .banner {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/banner-mobile2x.jpg);
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2) and (min-width: 768px), screen and (min-width: 768px) and (min-resolution: 2dppx) and (min-width: 768px) {
  .banner {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/banner-tablet2x.jpg);
  }
}
.title-banner {
  max-width: 696px;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  font-weight: 900;
  font-size: 26px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--color-adress);
}
@media screen and (min-width: 768px) {
  .title-banner {
    width: 360px;
  }
}
@media screen and (min-width: 1200px) {
  .title-banner {
    font-size: 44px;
    line-height: 1.36;
    width: 696px;
  }
}

.container-banner {
  margin-left: auto;
  margin-right: auto;
  width: 696px;
}

.title-modal {
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  color: var(--color-secondary);
}

.label {
  position: relative;
  display: flex;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  margin-bottom: 4px;
}

.input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border-color var(--transition);
  padding-left: 30px;
}

.input:focus {
  border-color: rgb(33, 150, 243);
  outline: none;
}

.input:focus + .icon-modal {
  fill: #2196F3;
}

.input-container {
  position: relative;
  margin-bottom: 10px;
}

.icon-modal {
  position: absolute;
  width: 18px;
  height: 18px;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill var(--transition);
}

.textarea {
  resize: none;
  width: 100%;
  min-height: 120px;
  margin-top: 6px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 16px;
}
@media screen and (max-width: 767px) {
  .textarea {
    margin-bottom: 20px;
  }
}
@media screen and (min-width: 1200px) {
  .textarea {
    width: 448px;
  }
}
.textarea::-moz-placeholder {
  color: rgba(117, 117, 117, 0.5);
}
.textarea:-ms-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
}
.textarea::placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.link-modal {
  color: var(--color-blue);
}

.checkbox {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  position: absolute;
}

.icon-modal-check {
  display: flex;
  align-items: center;
  border: 2px solid #212121;
  border-radius: 2px;
  width: 16px;
  height: 15px;
  top: 0;
  left: -20px;
  transition: background-color var(--transition);
  margin-right: 8px;
}

.label-check {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.icon-check {
  width: 16px;
  height: 15px;
  fill: #ffffff;
}

.checkbox:checked + .icon-modal-check {
  border-color: #2196F3;
  background-color: #2196F3;
}

.label-comment {
  display: flex;
}

.perfomance__icon {
  width: 70px;
  height: 70px;
}

.perfomance__container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  border-radius: 4px;
  background-color: #F5F4FA;
  margin-bottom: 30px;
  padding: 25px 100px;
}
@media screen and (max-width: 767px) {
  .perfomance__container {
    width: 100%;
  }
}
@media screen and (min-width: 768px) {
  .perfomance__container {
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .perfomance__container {
    width: 270px;
  }
}

.perfomance__title {
  margin: 0px;
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--color-secondary);
}
@media screen and (max-width: 767px) {
  .perfomance__title {
    text-align: center;
  }
}

@media screen and (min-width: 768px) {
  .perfomance__item {
    flex-basis: calc(50% - 30px);
  }
}
@media screen and (min-width: 1200px) {
  .perfomance__item {
    flex-basis: calc(20% - 30px);
  }
}

.item-text:last-child {
  margin-right: 0px;
}

.photo {
  padding-top: 0px;
  display: none;
}
@media screen and (min-width: 1200px) {
  .photo {
    display: block;
  }
}

.photo .title-section {
  padding-top: 0px;
  margin-bottom: 50px;
}

.photo__item {
  position: relative;
  flex-basis: calc(33.3333333333% - 30px);
}

.image {
  position: relative;
}

.photo__text {
  position: absolute;
  z-index: 1;
  width: 100%;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  background-color: rgba(47, 48, 58, 0.8);
  bottom: 0;
  padding: 27px 82px;
}

.section-comand {
  background-color: var(--color-back-section);
}

.comand-item {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background-color: var(--color-adress);
}
@media screen and (min-width: 768px) {
  .comand-item {
    flex-basis: calc(50% - 30px);
  }
}
@media screen and (min-width: 1200px) {
  .comand-item {
    flex-basis: calc(25% - 30px);
  }
}

@media screen and (max-width: 767px) {
  .comand-item:not(:last-child) {
    margin-bottom: 30px;
  }
}
.comand-item:last-child {
  margin-right: 0px;
}

.title-team {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  color: var(--color-secondary);
}

.text-comand {
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 1.18;
}

.text-comand,
.title-team {
  text-align: center;
}

.comand-conteiner {
  padding: 30px;
}

.clients {
  display: flex;
}

.icon-item {
  flex-basis: calc(50% - 30px);
}
@media screen and (min-width: 768px) {
  .icon-item {
    flex-basis: calc(33% - 30px);
  }
}
@media screen and (min-width: 1200px) {
  .icon-item {
    flex-basis: 170px;
  }
}

@media screen and (min-width: 480px) {
  .icon-item:nth-child(-n+4) {
    margin-bottom: 30px;
  }
}
.clients-link {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 92px;
  border: 1px solid #AFB1B8;
  border-radius: 4px;
  transition: border-color var(--transition);
}
@media screen and (min-width: 768px) {
  .clients-link {
    width: 226px;
  }
}
@media screen and (min-width: 1200px) {
  .clients-link {
    width: 170px;
  }
}
.clients-link:hover, .clients-link:focus {
  border-color: var(--color-blue);
}
.clients-link:hover .icon-clients {
  fill: var(--color-blue);
}
.clients-link:focus .icon-clients {
  fill: var(--color-blue);
}

.icon-clients {
  width: 106px;
  height: 60px;
  transition: fill var(--transition);
  fill: #AFB1B8;
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--back-color);
}

.adress {
  font-style: normal;
}
@media screen and (max-width: 767px) {
  .adress {
    text-align: center;
  }
}

@media screen and (max-width: 767px) {
  .footer .logo {
    text-align: center;
  }
  .footer .social-links {
    justify-content: center;
  }
}
.adress-link {
  color: var(--color-adress);
}

.contacts-foter {
  color: var(--color-link-footer);
}

.footer .logo {
  display: block;
  margin-bottom: 20px;
}

.contacts-item-footer:not(:last-child) {
  margin-bottom: 9px;
}

@media screen and (min-width: 1200px) {
  .footer-container {
    display: flex;
    align-items: baseline;
  }
}

@media screen and (max-width: 767px) {
  .footer-item-2 {
    margin-bottom: 60px;
  }
}
@media screen and (min-width: 768px) {
  .footer-item-2 {
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    margin-bottom: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .footer-item:last-child {
    margin-left: auto;
  }
}
@media screen and (max-width: 1199px) {
  .footer-item {
    text-align: center;
  }
}

@media screen and (min-width: 1200px) {
  .footer-item:not(:last-child) {
    margin-right: 70px;
  }
}

.footer-item:last-child {
  display: block;
}

.icon-links-footer {
  width: 44px;
  height: 44px;
  background-color: #2196F3;
}

.text-links-footer {
  display: block;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
  color: var(--color-adress);
  margin-bottom: 20px;
}
@media screen and (max-width: 1199px) {
  .text-links-footer {
    text-align: center;
  }
}

@media screen and (max-width: 767px) {
  .footer-item:not(:last-child) {
    text-align: center;
    margin-bottom: 60px;
  }
}

.footer-item .social-link {
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color var(--transition);
}
.footer-item .social-link:hover, .footer-item .social-link:focus {
  background-color: var(--color-blue);
}

.footer-item .icon-command {
  fill: #ffffff;
}

@media screen and (min-width: 1200px) {
  .footer-item-2 {
    display: flex;
  }
}
@media screen and (min-width: 1200px) {
  .footer-input-container {
    display: flex;
  }
}

.footer .button {
  margin-left: 12px;
}
@media screen and (max-width: 1199px) {
  .footer .button {
    margin-left: auto;
    margin-right: auto;
    display: flex;
  }
}

.footer-input {
  display: block;
  height: 50px;
  margin-bottom: 20px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: inherit;
  margin-right: 12px;
  padding: 15px 16px;
  color: rgba(255, 255, 255, 0.6);
}
@media screen and (max-width: 767px) {
  .footer-input {
    width: 100%;
  }
}
@media screen and (min-width: 768px) {
  .footer-input {
    width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .footer-input {
    width: 358px;
    height: 50px;
    margin-bottom: 0px;
  }
}
@media screen and (max-width: 1999px) {
  .footer-input {
    margin-left: auto;
    margin-right: auto;
  }
}

.icon-send {
  width: 24px;
  height: 24px;
  margin-left: 10px;
}

.button-portfolio {
  border-radius: 4px;
  background: #F5F4FA;
  border: #F5F4FA;
  padding: 6px 22px;
  font-family: "Roboto";
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  color: var(--color-secondary);
  background-color: #F5F4FA;
  cursor: pointer;
  text-align: center;
  transition: box-shadow var(--transition), color var(--transition), background-color var(--transition);
}
.button-portfolio:hover, .button-portfolio:focus {
  color: var(--color-adress);
  background-color: var(--color-blue);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.button-list {
  display: flex;
  margin-bottom: 40px;
  flex-wrap: wrap;
  gap: 15px 8px;
}
@media screen and (min-width: 768px) {
  .button-list {
    justify-content: center;
  }
}
@media screen and (min-width: 768px) {
  .button-list {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .button-list {
    margin-bottom: 50px;
  }
}

.title-procets {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  color: var(--color-secondary);
}
@media screen and (max-width: 1199px) {
  .title-procets {
    letter-spacing: 0.06em;
  }
}

.procets-text {
  font-size: 16px;
  line-height: 1.87;
}

.procets-item {
  position: relative;
  flex-basis: 100%;
}
@media screen and (min-width: 768px) {
  .procets-item {
    flex-basis: calc(50% - 30px);
  }
}
@media screen and (min-width: 1200px) {
  .procets-item {
    flex-basis: calc(33.3333333333% - 30px);
  }
}
@media screen and (max-width: 767px) {
  .procets-item:not(:last-child) {
    margin-bottom: 84px;
  }
}

.procets-item:nth-child(3n) {
  margin-right: 0px;
}

.procets-images {
  position: relative;
  overflow: hidden;
}

.procets-text-photo {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(100%);
  height: 100%;
  overflow: auto;
  font-size: 18px;
  line-height: 28px;
  color: #ffffff;
  background-color: rgba(33, 150, 243, 0.9);
  text-align: center;
  padding: 63px 24px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-procets:hover .procets-text-photo, .link-procets:focus .procets-text-photo {
  transform: translateY(0);
}

.border-procets {
  border: 1px solid #EEEEEE;
  padding: 20px 24px;
  flex-grow: 1;
}

.link-procets {
  display: flex;
  flex-direction: column;
  color: inherit;
  text-decoration: none;
  transition: box-shadow var(--transition);
  height: 100%;
}
.link-procets:hover, .link-procets:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}/*# sourceMappingURL=main.css.map */