.logo {


    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    color: var(--color-blue);
}

.logo-black {
    color: var(--color-secondary);
}

.logo-white {
    color: #ffffff;
}