.modal-fon {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 5;
    background-color: rgba(0, 0, 0, 0.2);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
    overflow-y: scroll;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: #ffffff;
    max-width: 450px;
    width: 100%;
    max-height: 609px;
    height: 100%;
    @media screen and (min-width:1200px) {
        max-width: 528px;
        max-height: 581px;
    }

    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    transform: translate(-50%, -50%);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), transform var(--transition);
    padding: 40px;
   
}


.is-hidden {
    opacity: 0;
    pointer-events: none;

}

.modal-fon.is-hidden .modal {
    opacity: 0;
    transform: translate(-50%, -50%) scale(0);
}

.icon-close {
    width: 18px;
    height: 18px;
}

.button-modal {
    position: absolute;
    top: 8px;
    right: 8px;
    display: flex;
    cursor: pointer;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    align-items: center;

    &:hover,
        &:focus {
            fill: #2196F3;
            transition: fill var(--transition);
        }


}




.text-modal{
    @media screen and (max-width: 768px) {
        font-size: 12px;
            line-height: 14px;
    }
    text-align: start;
}