.perfomance__icon {
    width: 70px;
    height: 70px;







}

.perfomance__container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120px;
    border-radius: 4px;
    background-color: #F5F4FA;
    margin-bottom: 30px;
    padding: 25px 100px;
    


   
        width: 450px;

   
  @media screen and (min-width:768px) {
    width: 354px;
  }

 @media screen and (min-width:1200px) {
     width: 270px;


 }


}

.perfomance__title{
    
            margin: 0px;
            margin-bottom: 10px;
    
            font-weight: 700;
            font-size: 14px;
            line-height: 1.14;
            text-transform: uppercase;
            color: var(--color-secondary);
        
}


.perfomance__item {
    
    
 @media screen and (min-width:768px) {
    flex-basis: calc(100% / 2 - 30px);
 }

@media screen and (min-width:1200px) {
    flex-basis: calc(20% - 30px);

}

}

.item-text:last-child {
    margin-right: 0px;

}



