.title-modal {
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    color: var(--color-secondary);
}

.label {
    position: relative;
    display: flex;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.01em;
    margin-bottom: 4px;



}

.input {

    width: 100%;
    height: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    transition: border-color var(--transition);
    padding-left: 30px;

}

.input:focus {
    border-color: rgba(33, 150, 243, 1);
    outline: none;

}

.input:focus+.icon-modal {
    fill: #2196F3;
}

.input-container {
    position: relative;
    margin-bottom: 10px;
}



.icon-modal {
    position: absolute;
    width: 18px;
    height: 18px;
    left: 12px;
    top: 50%;
    transform: translateY(-50%);
    transition: fill var(--transition);
}

.textarea {
    resize: none;

 width: 100%;

    @media screen and (min-width:1200px) {
    width: 448px;
    }
   
    min-height: 120px;
    margin-top: 6px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    padding: 12px 16px;

    &::placeholder {
            color: rgba(117, 117, 117, 0.5);
        }

}



.link-modal {
    color: var(--color-blue);
    margin-left: 6px;

}

.checkbox {
    appearance: none;
    position: absolute;
}

.icon-modal-check {

    display: flex;
    align-items: center;

    border: 2px solid #212121;
    border-radius: 2px;
    width: 16px;
    height: 15px;
    top: 0;
    left: -20px;
    transition: background-color var(--transition);
    margin-right: 8px;



}


.label-check {

    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;



}

.icon-check {
    width: 16px;
    height: 15px;
    fill: #ffffff;

}

.checkbox:checked+.icon-modal-check {
    border-color: #2196F3;
    background-color: #2196F3;

}

.label-comment {
    display: flex;

}