@media screen and (min-width:768px) {
    .curent-pages {
    
            color: var(--color-blue);
        }
    
        .curent-pages::after {
            position: absolute;
            content: "";
            width: 100%;
            height: 4px;
            background-color: var(--color-blue);
            border-radius: 2px;
            bottom: -1px;
        }
                .nav-item {
                    position: relative;
        
                }
    
}








.header {
    position: relative;
    border-bottom: 1px solid #ECECEC;

    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
     
    @media screen and (max-width:767px) {
        padding: 10px 15px;
    }

}


.header-container {
   
        display: flex;
        align-items: center;
        

  
}

.nav {
    @media screen and(min-width:768px) {
        display: flex;
        align-items: center;
    }
  

}


.header .logo {
        @media screen and(min-width:768px) {
            margin-right: 88px;
        }

    @media screen and (min-width:1200px) {
        margin-right: 93px;
    }
    
}

.nav-list {
    @media screen and(min-width:768px) {
    display: flex;
    }
 

}

.nav-link{
    @media screen and (max-width:767px) {
        font-weight: 500;
        font-size: 40px;
        line-height: 47px;
        text-align: center;
        
    }
}

.nav-item:not(:last-child) {
    @media screen and(min-width:768px) {
    margin-right: 50px;
    }
}



 @media screen and (max-width: 767px) {

.nav-item:not(:last-child) {
    margin-bottom: 32px;
}
 }
.nav-list {
    color: var(--color-secondary);
    
   

}

.contacts-list {
    
        font-weight: 500;
            font-size: 34px;
            line-height: 40px;
      
    @media screen and (min-width:768px) {
        display: flex;
        margin-left: auto;
        flex-direction: column-reverse;
            align-items: baseline;
            font-size: 12px;
            line-height: 14px;
    }
        
        


       

         @media screen and (min-width:1200px) {
            flex-direction: row-reverse;
            font-size: inherit;
            line-height: inherit;
         }
       

                 @media screen and (max-width: 767px) {
                    margin-bottom: 64px;
                 }
                
        

}

  
.header-wrapper{
    margin-left: auto;
}

.contacts-item mail{
    @media screen and (max-width:1199px) {
        margin-bottom: 10px;
    }
}

.contacts-item:not(:last-child) {
    @media screen and(min-width:1200px) {
    margin-right: 50px;
    }

}



 @media screen and (max-width:1199px) {
    .contacts-item:last-child{
        margin-bottom: 10px;
    }
 }

.contacts-item:last-child{
    @media screen and (max-width: 767px) {
        margin-bottom: 32px;
    }
}


.contacts-item:not(:last-child){
    @media screen and (max-width: 767px) {
        margin-bottom: 32px;
    }
}

.phone{
    
      
        @media screen and (max-width: 767px) {
        color: var(--color-blue);
    }

    
    
    
}
    


.contacts-item:last-child {
    @media screen and (min-width: 1200px) {
        margin-right: 50px;
    }
    

}

.nav-link,
.contacts {
    @media screen and(min-width:768px) {
    display: flex;
    align-items: center;

    }


  @media screen and (min-width:768px) {
   
  }
 padding-top: 32px;
 padding-bottom: 32px;
    transition: color var(--transition);

    @media screen and (min-width:1200px) {
        font-size: 14px;
    }
}

.contacts{
    @media screen and (max-width: 1199px) {
        padding: 0;
    }
}

.icon-contacts {
    @media screen and (max-width: 767px) {
        display: none;
    }
    margin-right: 10px;
    fill: currentColor;

}


.social-links-mobile{
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
@media screen and (min-width:768px) {
    display: none;
}
  
}

.button-mobile{
    padding: 0px;
    margin: 0px;
    border: none;
    background-color: inherit;
    margin-left: auto;

    @media screen and (min-width: 768px) {
        display: none;
    }
    
}


.button-mobile.is-open{
    position: absolute;
    top: 10px;
    right: 15px;
}
.menu-container {
    
    @media screen and (max-width: 767px) {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    transform: translateX(100%);
    position: fixed;
    width: 100%;
    height: 100vh;
    left: 0;
    top: 0;
    padding: 48px 40px;
    
    }
   width: 100%;
    background-color: white;

    &.is-open {
     transform: translateX(0);
    }

   transition: transform var(--transition);

   @media screen and (min-width:768px) {
    display: flex;
    align-items: center;
    
   }
}

.icon-mobile-menu:hover {
    fill: #2196F3;

}

.icon-mobile-close:hover {
    fill: #2196F3;

}

.button-mobile .icon-mobile-close{
    display: none;
}

.button-mobile.is-open  .icon-mobile-close{
    display: block;
}

.button-mobile.is-open .icon-mobile-menu{
    display: none;
}

.social-links-mobile-item{
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: var(--color-blue);
    padding-right: 10px;
    border-right: 1px solid rgba(33, 33, 33, 0.2);
    letter-spacing: 0.02em;
    
    

    @media screen and (min-width: 768px) {
      display: none;
    }
}
