




.photo {
    padding-top: 0px;
    display: none;
    @media screen and (min-width:1200px) {
      display: block;
    }
}

.photo .title-section {
    padding-top: 0px;
    margin-bottom: 50px;
}




.photo__item {
    position: relative;
    flex-basis: calc(100% / 3 - 30px);

}



.image {
    position: relative;
}

.photo__text {
    position: absolute;
    z-index: 1;
    width: 100%;

    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
    background-color: rgba(47, 48, 58, 0.8);
    bottom: 0;
    padding: 27px 82px;
}