.button-portfolio {
    border-radius: 4px;
    background: #F5F4FA;
    border: #F5F4FA;
    ;
    padding: 6px 22px;

    font-family: 'Roboto';
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    color: var(--color-secondary);
    background-color: #F5F4FA;
    cursor: pointer;
    text-align: center;
    transition: box-shadow var(--transition), color var(--transition), background-color var(--transition);


    &:hover,
        &:focus {
            color: var(--color-adress);
            background-color: var(--color-blue);
            box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
        }
}



.button-list {
    display: flex;
    justify-content: center;
    margin-bottom: 34px;

    @media screen and(max-width:767px) {
        flex-wrap: wrap;
    }

   
}

@media screen and(max-width:767px) {
    .button-list-item:nth-child( -n + 3){
      margin-bottom: 15px;
    }
}


.button-list-item:not(:last-child) {
    margin-right: 8px;
}


.title-procets {
    margin-bottom: 4px;

    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    color: var(--color-secondary);

    @media screen and (max-width:1199px) {
        letter-spacing: 0.06em;
    }
}


.procets-text {



    font-size: 16px;
    line-height: 1.87;

}



.procets-item {
    position: relative;

   
    flex-basis: 100%;
        @media screen and(min-width:768px) {
            flex-basis: calc(100% / 2 - 30px);
        }


 @media screen and(min-width:1200px) {
    flex-basis: calc(100% / 3 - 30px);
 }
    &:not(:last-child){
        @media screen and (max-width: 767px) {
            margin-bottom: 84px;
        }
    }
}





.procets-item:nth-child(3n) {
    margin-right: 0px;
}


.procets-images {
    position: relative;
    overflow: hidden;



}



.procets-text-photo {
    position: absolute;
    width: 370px;
    height: 294px;


    font-size: 18px;
    line-height: 28px;
    color: #ffffff;
    background-color: rgba(33, 150, 243, 0.9);
    text-align: center;

    padding: 63px 24px;

    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}



.link-procets:hover .procets-text-photo,.link-procets:focus .procets-text-photo {
    transform: translateY(-294px);
}



.border-procets {
    border: 1px solid #EEEEEE;
    padding: 20px 24px;

}

.link-procets {
    display: flex;
    flex-direction: column;
    color: inherit;
    text-decoration: none;
    transition: box-shadow var(--transition);

    &:hover,
        &:focus {
    
            box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
        }
}

